body {margin: 0;font-family: Arial;position: absolute;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;}
tab, wheel, pages, page, container, document { display: block; }

.absolute {position: absolute;} 
.bkgcvr {background-position: center;background-size: cover !important;background-repeat: no-repeat;}
.bkgctn {background-position: center;background-size: contain;background-repeat: no-repeat;}
.center { text-align: center; }
.flex {display: flex;}
.fixed {position: fixed;} 
.inline-block {display: inline-block;}
.invert { filter: invert(1); }
.relative {position: relative;} 
.static { position: static; }